<h1>Privacy Policy</h1>
<p>Last updated: August 30, 2024</p>
<p>This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.</p>
<p>This app doesn't collect and use any personal data</p>
<h2>Interpretation and Definitions</h2>
<h3>Interpretation</h3>
<p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>
<h3>Definitions</h3>
<p>For the purposes of this Privacy Policy:</p>
<ul>
<li>
<p><strong>Application</strong> refers to Literatura Biblijna, the software program provided by the Company.</p>
</li>
<li>
<p><strong>Country</strong> refers to:  Poland</p>
</li>
<li>
<p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
</li>
<li>
<p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
</li>
<li>
<p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
</li>
</ul>
<h2>Collecting and Using Your Personal Data</h2>
<h3>Types of Data Collected</h3>
<h4>Personal Data</h4>
<p>This app doesn't collect any data.</p>
<h4>Usage Data</h4>
<p>This app doesn't collect any data.</p>
<h3>Use of Your Personal Data</h3>
<p>This app doesn't collect any data.</p>

<h3>Retention of Your Personal Data</h3>
<p>This app doesn't collect any data.</p>
<h3>Transfer of Your Personal Data</h3>
<p>This app doesn't collect any data.</p>
<h3>Delete Your Personal Data</h3>
<p>This app doesn't collect any data.</p>
<h2>Children's Privacy</h2>
<p>Our Service does not address anyone under the age of 13.</p>
<h2>Links to Other Websites</h2>
<p>Our Service doesn't contain links to other websites that are not operated by Us.</p>
<h2>Changes to this Privacy Policy</h2>
<p>We may update Our Privacy Policy from time to time. We will notify You of any changes by posting the new Privacy Policy on this page.</p>
<p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
<h2>Contact Us</h2>
<p>If you have any questions about this Privacy Policy, You can contact us:</p>
<ul>
<li>By email: pabloawesomesoftware@gmail.com</li>
</ul>